.vjs-oip .vjs-big-play-button {
	border: none;
	background: none;
	opacity: .8;
}

.vjs-oip:hover .vjs-big-play-button,
.video-oip .vjs-big-play-button:focus {
	border: none;
	background: none;
	outline: none;
	font-size: 4em;
	opacity: .8;
}
