.vjs-oip .vjs-big-play-button {
	border: none;
	background: none;
	opacity: .8;
	font-size: 5em;
}

.vjs-oip:hover .vjs-big-play-button,
.video-oip .vjs-big-play-button:focus {
	border: none;
	background: none;
	outline: none;
	opacity: .9;
	cursor: default;
}
